<h1>Create a new Task</h1>


<form  method="POST">
    
    <div>
        <label for="title">Title</label>
        <input  id="title" name="title" placeholder="Task Title" required>
    </div>
    <div>
        <label for="description">Description</label>
        <textarea id="description" name="description" placeholder="Task Description" required></textarea>
    </div>
    <div>
        <label for="duedate">Due Date</label>
        <input type="date" id="duedate" name="duedate" required>
    </div>
        <button type="submit"> Create</button>
</form>